.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1005;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

#drawerNavi ul.overlay-content {
    padding: 0;
    list-style: none;
    border: none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 35%;
    transform: translateY(-50%);
    visibility: hidden;
}
ul.overlay-content li {
    padding: 0px;
}
.overlay-content li a {
    padding: 20px;
    display: block;
    transition: 0.3s;
}

.overlay-content li a img {
    width: 90%;
}

/* close */
#drawerClose {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
}
#drawerClose:hover {
    opacity: 0.8;
}

.lineClose {
    display: inline-block;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    line-height: 1;
    width: 2.5rem;
    height: 0.2rem;
    background: currentColor;
    border-radius: 0.1rem;
    position: relative;
    transform: rotate(45deg);
}
.lineClose::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

@media screen and (max-width: 767px) {
  .overlay-content li a {
    font-size: 1.7rem;
}
  #drawerClose {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.tenki {
    position: absolute;
    bottom: 5%;
    right: 10%;
}