/* This is a CSS file */
@charset "utf-8";

.home{
    position: fixed;
    left: 0; 
    top: 0;
    width: auto; 
    min-width: 100%; 
    height: auto;
    min-height: 100%;
    z-index: -1;
}
.parent1{
    background: cornflowerblue;
    text-align: center;
    font-family: 'Kosugi', sans-serif;
}
.parent2{
    height: 520px;
    overflow: auto;
}
.parent3{
    position: relative;
    top: 620px;
    bottom: 0px;
}
a {
    text-decoration: none;
    color: black;
}
table{
    position: fixed;
    left: 5px;
    vertical-align: middle;
    text-align: center;
}
li{
    font-family: 'Kosugi', sans-serif;
}
.nopinlist{
    list-style: none;
}
/* Loading Block */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #88BEFE;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}


.intersecting-circles-spinner, .intersecting-circles-spinner * {
      box-sizing: border-box;
    }

    .intersecting-circles-spinner {
      height: 700px;
      width: 370px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .intersecting-circles-spinner .spinnerBlock {
      animation: intersecting-circles-spinners-animation 1400ms linear infinite;
      transform-origin: center;
      display: block;
      height: 35px;
      width: 35px;
    }

    .intersecting-circles-spinner .circle {
      display: block;
      border: 3px solid #f0ff24;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .intersecting-circles-spinner .circle:nth-child(1) {
      left: 0;
      top: 0;
    }

    .intersecting-circles-spinner .circle:nth-child(2) {
      left: calc(35px * -0.36);
      top: calc(35px * 0.2);
    }

    .intersecting-circles-spinner .circle:nth-child(3) {
      left: calc(35px * -0.36);
      top: calc(35px * -0.2);
    }

    .intersecting-circles-spinner .circle:nth-child(4) {
      left: 0;
      top: calc(35px * -0.36);
    }

    .intersecting-circles-spinner .circle:nth-child(5) {
      left: calc(35px * 0.36);
      top: calc(35px * -0.2);
    }

    .intersecting-circles-spinner .circle:nth-child(6) {
      left: calc(35px * 0.36);
      top: calc(35px * 0.2);
    }

    .intersecting-circles-spinner .circle:nth-child(7) {
      left: 0;
      top: calc(35px * 0.36);
    }

    #loadingtext{
        font-weight: bold;
        margin-left: 20px;
        font-size: 28px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        animation:3s linear infinite rotation;
    }

    @keyframes intersecting-circles-spinners-animation {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }
    @keyframes rotation{
  50%{ transform:rotateX(0);}
  100%{ transform:rotateX(360deg);  }
}

/* Hide Loading Block */
.loaded {
  opacity: 0;
  visibility: hidden;
}
