#mymap {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.eye {
    position:absolute;
    top:0;
    right:0;
    z-index:1000;
    width:20%;
}
.camera {
    position:absolute;
    top:10%;
    right:0;
    z-index:1000;
    width:19%;
}
#indian {
    position:absolute;
    bottom:0;
    left:0;
    z-index:1000;
    width:20%;
}
#meteo {
    animation-name: chatAnime;
    animation-duration: 0.25s;
    position:absolute;
    bottom:20px;
    right:20px;
    z-index:1000;
    background-color:white;
    width:70%;
    height:10%;
    border-radius:10px;
}
.triangle {
    animation-name: chatAnime;
    animation-duration: 0.25s;
    position:absolute;
    z-index:999;
    width:10%;
    height:5%;
    bottom:6%;
    left:25%;background-color:white;
    transform:rotate(45deg);
}
@keyframes chatAnime {
    0% {
        opacity: 0.5;
        scale: 0.5;
    }
    50%{
        scale: 1.2;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.leaflet-popup {
    animation-name: popupAnime;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
@keyframes popupAnime {
    0% {
        opacity: 0;
        translate: 0 50px;
    }

    50%{
        opacity: 0.5;
        translate: -50px -80px;
        scale: 1.2;
    }

    100% {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}
.leaflet-popup-content {
    font-size: 1em !important;
}
.leaflet-popup-content button {
    font-size: 10px;
}
.leaflet-popup-content input {
    font-size: 10px;
}
.none {
    display: none;
}