/* This is a CSS file */
@charset "utf-8";

#background {
    position: fixed;
    left: 0; 
    top: 0;
    width: auto; 
    min-width: 100%; 
    height: auto;
    min-height: 100%;
    z-index: -1;
}
#background img {
    position: relative;
    width: 100%;
    height: auto;
}
#center{
    padding-top: 350px;
    position: fixed;
    left: 0; 
    top: 0;
    width: auto; 
    min-width: 100%; 
    height: auto;
    min-height: 100%;
    z-index: -1;
    text-align: center;
}
#title{
    vertical-align: bottom;
    text-align: center;
    color: #536EFE;
}
@keyframes updown-anim{
  0%{
    transform: translateY(110%); /*表示範囲外から*/
  }
  10%{
    transform: translateY(0); /*通常の位置へ*/
  }
  50%{
    transform: translateY(0); /*文字が上に揃うまで待機*/
  }
  60%{
    transform: translateY(110%); /*下がる*/
  }
  100%{
    transform: translateY(110%); /*待機*/
  }
}

/*** アニメーションする要素の親 ***/
.updown{
  display: flex; /*　横並びに */
  overflow: hidden; /* はみ出たものを非表示に */
}

/*** アニメーションを適用する要素 ***/
.updown span {
  transform: translateY(110%); /*デフォルトで下に隠す*/
  display: block; /*ブロック要素に*/
  animation: 3.5s updown-anim linear infinite; /* アニメーション */
}

/*** 各span(文字)に遅延時間delayを設定 ***/
.updown span:nth-child(1) {
  animation-delay: 0s;
}
.updown span:nth-child(2) {
  animation-delay: 0.05s;
}
.updown span:nth-child(3) {
  animation-delay: 0.1s;
}
.updown span:nth-child(4) {
  animation-delay: 0.15s;
}
.updown span:nth-child(5) {
  animation-delay: 0.2s;
}
.updown span:nth-child(6) {
  animation-delay: 0.25s;
}
.updown span:nth-child(7) {
  animation-delay: 0.3s;
}
.updown span:nth-child(8) {
  animation-delay: 0.35s;
}

/*** 装飾用 ***/
.updown{
  width: 600px;
  font-weight: 900;
  text-shadow: .5px .5px #536EFE;
  font-size: 1.7rem;
  margin: 4.5rem;
  text-align: center;
  padding-top: 570px;
  -webkit-text-stroke: 0.8px#fff;
  font-family: 'Kosugi', sans-serif;
}